@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --azulclaro: #48D6ED;
    --azuloscuro: #337AB7;
    --azulnegro: #303342;
    --negro: #333333;
    --negro2: #000;
    --gris: #B2B3B3;
    --fondo: #FFFEFC;
    --verdeazul: #157A8A;
    --Magenta: #9C2759;
    --blanco: #fff;
    --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

.dash {
    background-image: url(../img/lin-leyu-cIRFLobYPkY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

@media only screen and (min-width: 320px) {
    nav {
        width: 30%;
        color: var(--blanco);
    }

    nav .logo {
        background-color: #0B3860;
        background-image: url(../img/Group\ 200.svg);
        background-size: 100%;
        background-position: right bottom;
        background-repeat: no-repeat;
        padding: 0em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo img {
        width: 70%;
        padding-top: 10%;
        padding-bottom: 20%;
    }

    .usuario {
        display: none;
    }

    .menu {
        background-color: var(--azulnegro);
        height: 73%;
        
    }

    .item {
        display: flex;
        flex-direction: column;
        
    }

    nav .menu .item div {
        padding: 10px;
        font-size: 1.2em;
    }

    nav .menu .item div:hover {
        background-color: var(--azuloscuro);
    }

    nav .menu .item .color {
        background-color: var(--azuloscuro);
    }

    nav .menu .item div a {
        display: none;
    }

    nav .exit {
        padding: 1rem;
        font-size: 1.5rem;
        background-color: var(--negro2);
    }

    nav .exit a {
        display: none;
    }

    /*Barra de navegacion*/


    .dashboard {
        display: flex;
        background-color: rgba(255, 255, 255, 0.767);
        margin: 3rem;
        padding: 2rem;
        width: 100%;
        font-size: 1.2em;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .bienvenido {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1rem;
        font-size: 1.2rem;
        letter-spacing: 2px;
    }

    /*Info personal*/
    .info {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .foto {
        width: 90%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .img img {
        width: 100%;
        height: 90%;
    }

    .foto a {
        text-decoration: none;
        color: var(--blanco);
        margin-top: 1rem;
        padding: 1rem;
        background-color: var(--negro);
        font-size: 1em;
    }

    .icon2 {
        display: flex;
        color: var(--blanco);
        padding: 0.5rem;
        justify-content: space-around;
        align-items: center;
        margin-top: 0.2em;
        background-color: var(--azuloscuro);
        font-size: 2em;
    }

    .icon{
        display: none;
    }

    /*Info personal*/


    /*formulario*/

    form {
        width: 80%;
        margin: 1rem;
    }

    form .columnas {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    form .col-1 {
        display: flex;
        padding: 1.5em;
        width: 90%;
        flex-direction: column;
    }

    form .col-1 input {
        width: 100%;
        padding: 0.5em;
        margin: 0.5em 0 0.5em 0;
        font-size: 1em;
        border-radius: 5px;
        border: 0;
    }


    #genero {
        display: flex;
        justify-content: flex-start;
        justify-items: center;
        margin: 1em 0;
    }

    #genero input {
        width: auto;
        padding: 0%;
        margin: 0%;
        margin-right: 1em;
    }

    #genero label {
        margin-right: 1em;
    }

    .botones button {
        width: 100%;
        color: var(--blanco);
        background-color: var(--negro2);
        padding: 2%;
        font-size: 1.2em;
        margin-top: 1em;
        border-radius: 5px;
        border: 0;
        margin-left: 1em;
    }

    /*formulario*/



    .pass {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 1em;
    }

    .pass input {

        width: 70%;
        padding: 0.5rem;
        font-size: 1.2em;
        border-radius: 5px;
        border: 0;
    }

    .pass2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 9em;
    }

    .pass2 input {

        width: 70%;
        padding: 0.5rem;
        font-size: 1.2em;
        border-radius: 5px;
        border: 0;
    }
}

/*-------------------------------------------------*/
@media screen and (min-width: 1024px) {

    /*Barra de navegacion*/

    nav {
        width: 30%;
        color: var(--blanco);
    }

    nav .logo {
        background-color: #0B3860;
        background-image: url(../img/Group\ 200.svg);
        background-size: 100%;
        background-position: right bottom;
        background-repeat: no-repeat;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo img {
        width: 70%;
        padding-top: 10%;
        padding-bottom: 20%;
    }

    .usuario {
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
    }

    .menu {
        background-color: var(--azulnegro);
        height: 73%;
    }

    .item {
        display: flex;
        flex-direction: column;
    }

    nav .menu .item div {
        display: flex;
        flex-direction: row;
        padding: 1rem;
        font-size: 1.5rem;

    }

    nav .menu .item div:hover {
        background-color: var(--azuloscuro);
    }

    nav .menu .item .color {
        background-color: var(--azuloscuro);
    }

    nav .menu .item div a {
        display: flex;
        text-decoration: none;
        color: var(--blanco);
        padding-left: 1rem;
    }

    nav .exit {
        display: flex;
        flex-direction: row;
        padding: 1rem;
        font-size: 1.5rem;
        background-color: var(--negro2);
    }

    nav .exit a {
        display: flex;
        text-decoration: none;
        color: var(--blanco);
        padding-left: 1rem;
    }

    /*Barra de navegacion*/


    .dashboard {
        display: flex;
        background-color: rgba(255, 255, 255, 0.767);
        margin: 3rem;
        padding: 2rem;
        width: 100%;
        font-size: 1.2em;
        border-radius: 5px;
        justify-content: center;
        flex-direction: column;
    }

    .bienvenido {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1rem;
        font-size: 1.2rem;
        letter-spacing: 2px;
    }

    /*Info personal*/
    .info {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .foto {
        width: 20%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .img img {
        width: 100%;
        height: 90%;
    }

    .foto a {
        text-decoration: none;
        color: var(--blanco);
        margin-top: 1rem;
        padding: 1rem;
        background-color: var(--negro);
        font-size: 1em;
    }

    .icon2{
        display: none;
    }

    .icon {
        display: flex;
        color: var(--blanco);
        padding: 0.5rem;
        justify-content: space-around;
        align-items: center;
        margin-top: 0.2em;
        background-color: var(--azuloscuro);
        font-size: 2em;
    }

    /*Info personal*/


    /*formulario*/

    form {
        width: 80%;
        margin: 1rem;
    }

    form .columnas {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    form .col-1 {
        display: flex;
        padding: 1.5em;
        width: 90%;
        flex-direction: column;
    }

    form .col-1 input {
        width: 100%;
        padding: 0.5em;
        margin: 0.5em 0 0.5em 0;
        font-size: 1em;
        border-radius: 5px;
        border: 0;
    }


    #genero {
        display: flex;
        justify-content: flex-start;
        justify-items: center;
        margin: 1em 0;
    }

    #genero input {
        width: auto;
        padding: 0%;
        margin: 0%;
        margin-right: 1em;
    }

    #genero label {
        margin-right: 1em;
    }

    .botones button {
        width: 100%;
        color: var(--blanco);
        background-color: var(--negro2);
        padding: 2%;
        font-size: 1.2em;
        margin-top: 1em;
        border-radius: 5px;
        border: 0;
        margin-left: 1em;
    }

    /*formulario*/



    .pass {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 1em;
    }

    .pass input {

        width: 70%;
        padding: 0.5rem;
        font-size: 1.2em;
        border-radius: 5px;
        border: 0;
    }

    .pass2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 9em;
    }

    .pass2 input {

        width: 70%;
        padding: 0.5rem;
        font-size: 1.2em;
        border-radius: 5px;
        border: 0;
    }

    /* .password .pass {
    display: flex;
    width: 100%;
} */

    /* .password .pass div {
    width: 100%;
    margin-right: 1rem;
} */

}