@import url(&#39;https://fonts.googleapis.com/css2?family=Marcellus&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap&#39;);

:root {

    --azulclaro: #48D6ED;
    --azuloscuro: #337AB7;
    --azulnegro: #303342;
    --negro: #333333;
    --negro2: #000;
    --gris: #B2B3B3;
    --fondo: #FFFEFC;
    --verdeazul: #157A8A;
    --Magenta: #9C2759;
    --blanco: #fff;
    --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

* {
    margin: 0;
}

body {
    background-image: url(../img/lin-leyu-cIRFLobYPkY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: var(--azulnegro);
    width: 330px;
}

.logo img {
    width: 4rem;
    margin-top: 14px;
    margin-left: -3.6em;
}

.nav-title {
    color: var(--blanco);
    font-size: 50px;
    margin-left: 15px;
    margin-top: -55px;
}

.container-image {
    position: relative;
    width: 20.5em;
    height: 14.5em;
    top: -15px;
    background-image: url(../img/Group\ 200.svg);
    background-size: cover;
}

.logo {
    position: relative;
    top: 10%;
    left: 20%;
}

.name-user {
    position: relative;
    color: var(--blanco);
    padding-top: 85px;
    left: 60px;
    font-size: 23px;

}

.gmail-user {
    font-size: 13px;
}


.icon {
    color: var(--blanco);
}


.img-person {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}

.img-person img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.img-person span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 330px;
    padding: 10px;
}

.fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
    color: var(--blanco);
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

a:hover {
    background: var(--azuloscuro);
}

.logout {
    position: absolute;
    bottom: 0;
}

.container {
    width: 50em;
    height: 31em;
    background-color: rgba(245, 241, 241, 0.59);
    font-size: 29px;
    top: 35px;
    left: 13.9em;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    font-family: 'Marcellus', serif;
    overflow: hidden;
}

.mini-container {
    position: relative;
    top: 20px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

article img {
    position: relative;
    top: 80px;
    left: 60px;
    display: flex;
    height: 300px;
    width: 300px;
    float: left;
}

.download {
    display: flex;
    position: absolute;
    width: 10.3em;
    height: 2em;
    top: 13.5em;
    left: 2.1em;
    background: var(--azuloscuro);
}

.download i {

    color: var(--blanco);
    margin-left: 75px;
    margin-top: 1px;
    font-size: 50px;
}



article h2 {
    position: relative;
    left: 150px;
}


input {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

.tipe-document {
    position: relative;
    left: 150px;
    top: 20px;
}

.num-document {
    position: relative;
    left: 450px;
    top: -95px;
}

.name {
    position: relative;
    top: -90px;
}

.apex {
    position: relative;
    left: 750px;
    top: -185px;
}

.date-birth {
    position: relative;
    left: 300px;
    top: -170px;
}

.pais {
    position: relative;
    left: 750px;
    top: -265px;
}

.form-check {
    display: flex;
    position: relative;
    left: 300px;
    top: -250px;

}

.checks {

    margin-left: -3em;
    display: flex;
    gap: 20px;
}

.num-cel {
    position: relative;
    left: 750px;
    top: -360px;
}

.email {
    position: relative;
    left: 300px;
    top: -370px;
}

button {
    background: var(--negro);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 20%;
}

.update {
    background: var(--negro);
    border-radius: 5px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    width: 15%;
    height: 50px;
    position: relative;
    left: 300px;
    top: -370px;

}

.password {
    position: relative;
    left: 450px;
    top: -340px;
}

.confirme-password {
    position: relative;
    left: 62.5%;
    top: -438px;
}

.cambiar {
    background: var(--negro);
    border-radius: 5px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    width: 15%;
    height: 50px;
    position: relative;
    left: 450px;
    top: -465px;

}


.Update-password {
    background: var(--negro);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
    position: relative;
    left: -5em;
    top: -25em;
}

@media screen and (min-width: 320px) {}

@media screen and (min-width: 1024px) {

    nav {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        left: 0;
        background: var(--azulnegro);
        width: 15em;
        list-style: none;
    }

    .logo img {
        width: 4rem;
        margin-top: 14px;
        margin-left: -3.6em;
    }

    .nav-title {
        color: var(--blanco);
        font-size: 50px;
        margin-left: 15px;
        margin-top: -55px;
    }

    .container-image {
        position: relative;
        width: 20.5em;
        height: 14.5em;
        top: -15px;
        background-image: url(../img/Group\ 200.svg);
        background-size: cover;
    }

    .logo {
        position: relative;
        top: 10%;
        left: 20%;
    }

    .name-user {
        position: relative;
        color: var(--blanco);
        padding-top: 85px;
        left: 60px;
        font-size: 23px;

    }

    .gmail-user {
        font-size: 13px;
    }


    .icon {
        color: var(--blanco);
    }


    .img-person {
        text-align: center;
        display: flex;
        transition: all 0.5s ease;
        margin: 10px 0 0 10px;
    }

    .img-person img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }

    .img-person span {
        font-weight: bold;
        padding-left: 15px;
        font-size: 18px;
        text-transform: uppercase;
    }

    a {
        position: relative;
        color: rgb(85, 83, 83);
        font-size: 14px;
        display: table;
        width: 330px;
        padding: 10px;
    }

    .fas {
        position: relative;
        width: 70px;
        height: 40px;
        top: 14px;
        font-size: 20px;
        text-align: center;
    }

    .nav-item {
        position: relative;
        top: 12px;
        margin-left: 10px;
        color: var(--blanco);
        font-size: 20px;
        font-family: 'Playfair Display', serif;
    }

    a:hover {
        background: var(--azuloscuro);
    }

    .logout {
        position: absolute;
        bottom: 0;
    }

    .container {
        width: 50em;
        height: 31em;
        background-color: rgba(245, 241, 241, 0.59);
        font-size: 29px;
        top: 35px;
        left: 13.9em;
        justify-content: center;
        position: relative;
        border-radius: 10px;
        font-family: 'Marcellus', serif;
        overflow: hidden;
    }

    .mini-container {
        position: relative;
        top: 20px;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
    }

    article img {
        position: relative;
        top: 80px;
        left: 60px;
        display: flex;
        height: 300px;
        width: 300px;
        float: left;
    }

    .download {
        display: flex;
        position: absolute;
        width: 10.3em;
        height: 2em;
        top: 13.5em;
        left: 2.1em;
        background: var(--azuloscuro);
    }

    .download i {

        color: var(--blanco);
        margin-left: 75px;
        margin-top: 1px;
        font-size: 50px;
    }



    article h2 {
        position: relative;
        left: 150px;
    }


    input {
        width: 25%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 20px;
    }

    .tipe-document {
        position: relative;
        left: 150px;
        top: 20px;
    }

    .num-document {
        position: relative;
        left: 450px;
        top: -95px;
    }

    .name {
        position: relative;
        top: -90px;
    }

    .apex {
        position: relative;
        left: 750px;
        top: -185px;
    }

    .date-birth {
        position: relative;
        left: 300px;
        top: -170px;
    }

    .pais {
        position: relative;
        left: 750px;
        top: -265px;
    }

    .form-check {
        display: flex;
        position: relative;
        left: 300px;
        top: -250px;

    }

    .checks {

        margin-left: -3em;
        display: flex;
        gap: 20px;
    }

    .num-cel {
        position: relative;
        left: 750px;
        top: -360px;
    }

    .email {
        position: relative;
        left: 300px;
        top: -370px;
    }

    button {
        background: var(--negro);
        border-radius: 5px;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        width: 20%;
    }

    .update {
        background: var(--negro);
        border-radius: 5px;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        margin: 4px 2px;
        cursor: pointer;
        width: 15%;
        height: 50px;
        position: relative;
        left: 300px;
        top: -370px;

    }

    .password {
        position: relative;
        left: 450px;
        top: -340px;
    }

    .confirme-password {
        position: relative;
        left: 62.5%;
        top: -438px;
    }

    .cambiar {
        background: var(--negro);
        border-radius: 5px;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        margin: 4px 2px;
        cursor: pointer;
        width: 15%;
        height: 50px;
        position: relative;
        left: 450px;
        top: -465px;

    }

    .Update-password {
        background: var(--negro);
        border-radius: 5px;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 30px;
        margin: 4px 2px;
        cursor: pointer;
        width: 250px;
        position: relative;
        left: -5em;
        top: -25em;
    }

}